	
	<div class="item">
		<!-- 日期分类 -->
        <!--为了完美一点-->
		<div class="mark" ng-show='load'>{{date|date:'dd MMM'}}</div>
		<ul class="posts large">
			<!-- 文章 -->
			<!--根据条件选择相应该显示的东西-->
			<li ng-repeat='post in posts'>
				<!--如果没有内容就直接不要这个标签了-->
				<span href="javascript:;" ng-if='post.column.name' class="tag">{{post.column.name}}</span>
				<div class="cont">
					<h3>{{post.title}}</h3>
					<div class="brief">
						<!--10001  10002的时候会出现-->
						<!--来判断在这个类要不要，因为10001和10002是不一样的-->
						<p ng-class="{only: post.display_style == 10001}" ng-if='post.display_style!=10003'>{{post.abstract}}</p>
						<!--10002的时候会出现-->
						<div class="thumb" ng-if='post.display_style==10002'>
							<img src="{{post.thumbs[0].small.url}}" alt="">
						</div>
						<!--10003的时候出现-->
						<div class="gallery" ng-if='post.display_style==10003'>
							<img src="{{post.thumbs[0].small.url}}" alt="">
						</div>
					</div>

				</div>
			</li>


		</ul>
	</div>